table.TF th, table.TF td{
    padding: 5px !important;
    height: auto;

}
th.anecdotes-count{
    font-size: 0.8em !important;
}
thead th, thead td{    background-color: white !important;}
table{
        border-collapse: collapse;
       

}
tr.book-author{
    border-top: 1px solid grey !important;
    
}
td, th{
    border: 1px solid grey !important;
}

th{
    font-weight: normal;
}
td, th{
    padding: 5px;
    text-align: justify;
}

.sc{
    font-variant: small-caps;
}

.not-empty{
    background-color: grey;
}

.matrix thead th.book-author {
  height: 142px;
  vertical-align: bottom;
  white-space: nowrap;
}

.matrix thead th.book-date {
  height: 40px;
    vertical-align: bottom;

  white-space: nowrap;
}

.matrix thead th  > div.th-container {
    transform: 
      translate(0px, 7px)
      rotate(270deg);
    width: 20px;
}


thead th   > div > span {
    padding: 5px 10px;
}



.book-date{
    height: 20px;
}
tbody div.container{
    width:200px;
    height:200px;
    overflow: scroll;
}
td.anecdote-content{
    width:20px;
    height:20px;
}

.no-border{
    border-top: none !important;
    border-bottom: none !important;
}
body{
    font-family: Georgia;
}
.anecdote{
    vertical-align: top;
/*    font-style: italic;
*/}
p{margin: 0;}

thead div{
    margin: auto;
}

.comment{
    margin: 5px 0;
    color: grey;
}

a{color: #ac1a2f;
text-decoration: none;}
/*gris, police, centrer*/

.book-detail{
    width: 1000px !important;
}
.book-detail, .anecdote-detail{
    background-color: white;
}
.book-detail .container{width:100% !important;}
.book-detail .container, .anecdote-detail .container{height: auto !important;}
a{cursor: pointer;}
/*.matrix .not-empty.out{background-color: grey;}
.matrix .not-empty.over{background-color: white;}*/
th.book-author{text-align: center;}
th.anecdotes-count{text-align: center;}
td.anecdote-content.not-empty, td.anecdote-title, th.book-author{cursor: zoom-in;}
td.anecdote-content.active, td.anecdote-title.active, th.book-author.active{cursor: zoom-out;}
table.detail td.anecdote-content{cursor: default;}


tr.book-author{
    height:110px;
}
tr.book-date{
    height: 45px;
}
img.sort-arrow{display: none;}
div.div-open-document{padding-bottom: 3px !important;}
tr.anecdotes-count th{height: 20px !important;}
td.count{width:20px !important;text-align: center;}
td.anecdote-title{width:420px;}
td.first-author{width: 30px;}
th.book-author{width:20px !important;}
th.anecdotes-count, th.book-date{width:20px !important;}
.anecdotes td.fltrow, .anecdotes th{width:20px !important;}
.matrix input{width:14px !important;}
.fltrow td{max-width:20px !important;}
tr.fltrow td:nth-child(1) input{width:98% !important;}
tr.fltrow td:nth-child(3) input{width:92% !important;}
tr.fltrow td:nth-child(4) input{width:87% !important;}
tr.book-author th.no-border, div.th-container{text-align: center;}
.logo img{width:150px;margin-bottom: 20px;}
#trigger-info, #view-matrix, #view-detail{margin-right:10px;float: right;}

.page-title{display: inline;
    text-align: center;
    margin:0 25%;
    vertical-align: top;
    
}
th.book, td.book{width:20px !important;}
/*SCROLL*/

 /*
  *table tbody, table thead
{
    display: block;
}
table tbody 
{
   overflow: scroll;
   height: 500px;
}

th.th-anecdote-title, td.anecdote-title{
    width:440px;
}
th.th-count, td.count{
    width:20px;
}
tbody{border-top: 1px solid grey;}
td.first-author{width:120px;}
td.first-date{width:100px;}

thead tr td:nth-child(1) {width:440px !important;}

thead tr td:nth-child(2) {width:20px !important;}
thead tr td:nth-child(3)  {width:120px !important;}
thead tr td:nth-child(4)  {width:100px !important;}*/

div.field {
display:inline-block;
vertical-align:top;
margin:10px;}

select {
 width: 250px;  
}
select[name="content_type"], select[name="keywords[]"] {
 width: 170px;  
}
select[name="anecdotes[]"], select[name="books[]"] {
 width: 250px;  
}
input name="content_type"] {
 margin: 5px;
}
.result-anecdote{
    width:150px;
}
#anecdotes{margin:auto;}
form{margin:auto;}